In [1]:
import pandas as pd

In [28]:
data = [
    [152, 187, 432, 771],
    [127, 207,  445, 779],
    [279, 394, 877, 1550]
]

data = pd.DataFrame(data=data, columns=['Frequently', 'Sometimes', "Never", 'Total'], index=('Male', "Female", 'Total'))
data

        Frequently  Sometimes  Never  Total
Male           152        187    432    771
Female         127        207    445    779
Total          279        394    877   1550

In [37]:
print(f"{data['Sometimes']['Male'] / data['Sometimes']['Total']:.2f}")
print(f"{data['Never']['Female'] / data['Never']['Total']:.2f}")
print(f"{data['Frequently']['Total'] / data['Total']['Total']:.2f}")
print(f"{data['Sometimes']['Male'] / data['Sometimes']['Total']:.2f}")
print(f"{data['Sometimes']['Male'] / data['Sometimes']['Total']:.2f}")

0.47
0.51
0.18
0.47
0.47