In [2]:
import pandas as pd

In [3]:
yelp_raw_data = pd.read_csv('yelp.csv')a

In [7]:
duplicate_text = yelp_raw_data['text'].describe()['top']
duplicate_text

'Great service'

In [9]:
text_is_the_duplicate = yelp_raw_data['text'] == duplicate_text
text_is_the_duplicate

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: text, Length: 10000, dtype: bool

In [20]:

type(text_is_the_duplicate)

pandas.core.series.Series

In [21]:
text_is_the_duplicate.head()

0    False
1    False
2    False
3    False
4    False
Name: text, dtype: bool

In [22]:
sum(text_is_the_duplicate)

2

In [23]:
filtered_dataframe = yelp_raw_data[text_is_the_duplicate]
filtered_dataframe

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
284,Hf_MFIPi7ZiIWDQodJMzwg,2012-10-25,9l7FzgtZobP81lMwEQy4AA,5,Great service,review,9VmTOyq01oIUk5zuxOj1GA,0,0,1
3921,kkBMTNET2xgHCW-cnNwKxA,2012-12-21,M_GC_TG9TpSzMAUQ_TAimw,5,Great service,review,9VmTOyq01oIUk5zuxOj1GA,0,0,0

In [24]:
yelp_raw_data['type'].describe()

count      10000
unique         1
top       review
freq       10000
Name: type, dtype: object

In [25]:
yelp_raw_data['user_id'].describe()

count                      10000
unique                      6403
top       fczQCSmaWF78toLEmb0Zsw
freq                          38
Name: user_id, dtype: object